{% extends 'base/base_with_navbar.html' %}

{% load static %}

{% block content %}
<!-- 메인 -->
<section>
    <div class="container">
        <div class="select_play">
            <div class="thumb">
                <img src="{{ artist.image }}" alt="{{ artist.name}}">
            </div>
            <div class="thumb_info">
                <div class="song_name">
                    {{ artist.name }}
                </div>
                <div class="artist">
                    {{ song.album.artist.name }}
                </div>
                <div class="song_info">
                    <dl>
                        <dt>
                            인기도
                        </dt>
                        <dd>
                            {{ artist.popularity }}
                        </dd>
                        <dt>
                            장르
                        </dt>
                        <dd>
                            {{ artist.genres }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>


        <div class="playlist">
            <div class="play">
                <div class="play_info">
                    <div class="info_detail"><strong>해당 아티스트의 다른 곡</strong></div>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">제목</th>
                                <th scope="col">앨범</th>
                                <th scope="col">발매일</th>
                                <th scope="col">인기도</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'album_detail' song.album.pk %}"><img src="{{ song.album.image }}"
                                            alt="{{ song.album.title }}"></a>
                                    <h3><a href="{% url 'music_detail' song.pk %}">{{ song.title }}</a></h3>
                                    <p>{{ artist.name }}</p>
                                </td>
                                <td>
                                    <h3>{{ song.album.title }}</h3>
                                    <p>{{ song.album.artist.genres }}</p>
                                </td>
                                <td>{{ song.album.release_date }}</td>
                                <td>{{ song.popularity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 앨범목록 수정 -->

        <div class="playlist">
            <div class="play">
                <div class="play_info">
                    <div class="info_detail"><strong>앨범목록</strong></div>
                    <table class="table table-dark card_list">
                        <thead>
                        </thead>
                        <tbody>
                            {% for album in unique_albums %}
                            <tr>
                                <td>
                                    <a href="{% url 'album_detail' album.pk %}"><img src="{{ album.image }}"
                                            alt="{{ album.title }}"></a>
                                </td>
                                <td>
                                    <h3><a href="{% url 'album_detail' album.pk %}">{{ album.title }}</a></h3>
                                </td>
                                <td>{{ album.release_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="playlist">
            <div class="play">
                <div class="play_info">
                    <div class="info_detail"><strong>유사 아티스트 추천</strong></div>
                    <table class="table table-dark card_list">
                        <thead>
                        </thead>
                        <tbody>
                            {% for recom_artist in recommended_artists %}
                            <tr>
                                <td>
                                    <a href="{% url 'artist_detail' recom_artist.pk %}"><img
                                            src="{{ recom_artist.image }}" alt="{{ recom_artist.name }}"></a>
                                </td>
                                <td>
                                    <h3><a href="{% url 'artist_detail' recom_artist.pk %}">{{ recom_artist.name }}</a>
                                    </h3>
                                </td>
                                <td>
                                    <h3>{{ recom_artist.genres }}</h3>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- 페이지네이션 -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock content %}