{% extends 'base/base_with_navbar.html' %}

{% load static %}

{% block content %}
  <!-- 메인 -->
  <section>
    <div class="container">
      <div class="select_play">
        <div class="thumb">
          <img src="./images/cast02.jpg" alt="앨범이미지">

        </div>
        <div class="thumb_info">
          <div class="song_name">
            눈이오자나
          </div>
          <div class="artist">
            박원
          </div>
          <div class="song_info">
            <dl>
              <dt>
                발매일
              </dt>
              <dd>
                2023.12.15
              </dd>
              <dt>
                장르
              </dt>
              <dd>
                발라드
              </dd>
              <dt>
                앨범이름
              </dt>
              <dd>
                ost
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="playlist">
        <div class="play">
          <!-- <div class="play_img">
                        <img src="./images/cast02.jpg" alt="노래이미지">
                    </div> -->
          <div class="play_info">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">제목</th>
                  <th scope="col">앨범</th>
                  <th scope="col">발매일</th>
                  <th scope="col">좋아요</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <img src="./images/cast02.jpg" alt="앨범">
                    <h3>노래제목</h3>
                    <p>가수</p>
                  </td>
                  <td>
                    <h3>앨범이름</h3>
                    <p>장르</p>
                  </td>
                  <td>2023.1214</td>
                  <td>524343</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <!-- 페이지네이션 -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
{% endblock content %}