{% extends 'base/base_with_navbar.html' %}

{% load static %}

{% block content %}
<!-- 메인 -->
<section>
  <div class="container">
    <div class="playlist">
      <div class="play">
        <div class="play_info">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">제목</th>
                <th scope="col">앨범</th>
                <th scope="col">발매일</th>
                <th scope="col">인기도</th>
              </tr>
            </thead>
            {% for song in songs %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                  {% if song.album.image %}
                    <a href="{% url 'album_detail' album_id=song.album.id %}"><img src="{{ song.album.image }}" alt="{{ song.album.title }}"></a>
                  {% else %}
                  <img src="{% static 'images/empty-cover.jpg' %}" alt="empty-cover">
                  {% endif %}
                  <a href="{% url 'music_detail' song.pk %}">
                    <h3>{{ song.title }}</h3>
                  </a>
                  <a href="{% url 'artist_detail' artist_id=song.album.artist.id %}">
                    <p>{{ song.album.artist.name }}</p>
                  </a>
                </td>
                <td>
                  <a href="{% url 'album_detail' album_id=song.album.id %}">
                    <h3>{{ song.album.title }}</h3>
                  </a>
                  <p>{{ song.album.artist.genres }}</p>
                </td>
                <td>{{ song.album.release_date }}</td>
                <td>{{ song.popularity }}</td>
              </tr>

            </tbody>
            {% empty %}
            <p> 아직 곡이 없습니다</p>
            {% endfor %}
          </table>

        </div>
      </div>


    </div>
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</section>
{% endblock content %}