{% extends "base/base_with_navbar.html" %}

{% load static %}

{% block title %}{{ profile_user.nickname }}을 위한 음악추천 | Sixfortypy {% endblock title %}

{% block content %}
<main class="site-body">
    <div class="profile-header">
        <div class="content max-content-width">
            <div class="cp-avatar large profile-pic"
                style="background-image: url('{{ profile_user.profile_pic.url }}')"></div>
            <div class="info profile-info">

                <div class="intro">
                    <h1 class="username">{{ profile_user.nickname }}</h1>
                    <div>
                        {% if profile_user.intro %}
                        <p class="cp-chip intro">{{ profile_user.intro }}</p>
                        {% else %}
                        <p class="cp-chip intro">자기소개가 없습니다</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="content-list max-content-width">
        <div class="header">
            <h2>{{ profile_user.nickname }}님의 취향에 맞는 아티스트 추천</h2>
        </div>
        <div class="contents">

            <div class="playlist animation">
                <div class="play">
                    <div class="play_info">
                        <div class="info_detail"><strong>{{ most_common_genre }} 유형을 가장 많이 선택하셨네요!</strong></div>
                        <table class="table table-dark card_list">
                            <thead>
                            </thead>
                            <tbody>
                                {% for song in recommended_artists %}
                                <tr>
                                    <td>
                                        <a href="{% url 'artist_detail' song.pk %}"><img
                                                src="{{ song.image }}" alt=""></a>
                                    </td>
                                    <td>
                                        <h3><a href="{% url 'artist_detail' song.pk %}">{{ song.title }}</a></h3>
                                    </td>
                                    <td>{{ song.name }}</td>
                                </tr>
                                {% empty %}
                                <div class="empty-class">
                                    <p class="empty">북마크한 곡이 없네요?</p>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock content %}